{% extends "layout.html" %}

{% block articles %}

    {% for contribution in contributions %}
    <tr class='athing' id={{ contribution.id }}>
        <td align="right" valign="top" class="title">
            <span class="rank">{{ forloop.counter }}.</span>
        </td>      
        <td valign="top" class="votelinks" style="text-align: center;">
            <a id='up_26521582' href='vote?id=26521582&amp;how=up&amp;goto=news'>
                <div class='votearrow' title='upvote'></div>
            </a>
        </td>
        <td class="title">
            <a href={{ contribution.url }} class="storylink">{{ contribution.title}}</a>
            <span class="sitebit comhead"> 
                (<a href={{ contribution.url }}><span class="sitestr"> {{  contribution.url }}</span></a>)
            </span>
        </td>
    </tr>
    {% endfor %}

{% endblock %}