{% extends "layout.html" %}

{% block item %}

    {% for contribution in contributions %}
    <tr class='athing' id={{ contribution.id }}>
        <td align="right" valign="top" class="title">
            <span class="rank">{{ forloop.counter }}.</span>
        </td>
        <form method="POST">
            {% csrf_token %}
            <td valign="top" class="votelinks">
                <button type="submit" class='votearrow' title='upvote' name='id' value={{ contribution.id }}></button>
            </td>
        </form>
        <td class="title">
            <a href={{ contribution.url }} class="storylink">{{ contribution.title }}</a>
            <span class="sitebit comhead"> 
                (<a href={{ contribution.url }}><span class="sitestr"> {{ contribution.url }}</span></a>)
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="subtext">
            <span class="score" id="score_26521582">{{ contribution.points }}</span> by <a href="user?id=mg" class="hnuser">mg</a> 
            <span class="age"><a href="item?id=26521582">{{ contribution.date }}</a></span> 
            <span id="unv_26521582"></span> | <a href="hide?id=26521582&amp;goto=news">hide</a> | <a href="{% url 'item' contribution.id %}">34&nbsp;comments</a>              
        </td>
    </tr>
    <tr class="spacer" style="height:5px"></tr>
    {% endfor %}
    
{% endblock %}